@import '../../styles/settings.scss';

.button {
    // Add your button styles here
    // padding: 10px 20px;
    padding: $base-size ($base-size * 1.5);
    margin: 0 0 $base-size 0;
    background-color: $color-primary;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}