@import '../../styles/settings.scss';


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    color: white;

    span {
        font-size: 1.5rem;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 1rem;
    }

    li {
        list-style: none;
    }

    li a {
        color: white;
        text-decoration: none;
    }

    li a:hover {
        font-size: 0.8rem;
    }

    .linkActive {
        color: $color-warning;
    }
}